body {
background-color: beige;
}
nav {
    background-color:rgb(26, 231, 88);
    color:black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
nav {
    display: flex;
}
#primary {
    background-color: azure;
}